@use '../../styles/variables' as *;


.gestorNotas{
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.form {
  background-color: white;
  border-radius: 20px;
  box-sizing: border-box;
  height: 90%;
  padding: 20px;
  width: 35%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid $p-color;
  box-shadow: 2px 2px 10px black;
}

.title {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  & h1{
    color: $p-color;
    font-family: sans-serif;
    font-size: 3rem;
    margin: 0;
    margin-top: 1rem;
    font-weight: 600;
    text-shadow: 1px 1px 3px black;
  }
}

.input-container {
  height: 30px;
  position: relative;
  width: 80%;
  margin-top: 20px;
}

.input {
  background-color: $p-color;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: #eee;
  font-size: 18px;
  height: 100%;
  outline: 0;
  padding: 4px 20px 0;
  width: 100%;
}

.cut {
  background-color: white;
  border-radius: 10px;
  height: 20px;
  left: 20px;
  position: absolute;
  top: -20px;
  transform: translateY(0);
  transition: transform 200ms;
  width: 180px;
}

.cut-short {
  width: 50px;
}

.iLabel {
  color: white;
  font-family: sans-serif;
  left: 20px;
  line-height: 14px;
  pointer-events: none;
  position: absolute;
  transform-origin: 0 50%;
  transition: transform 200ms, color 200ms;
  font-size: 1.3rem;
  top: 8px;
}

.input:focus ~ .cut {
  transform: translateY(8px);
}

.input:focus ~ .iLabel {
  transform: translateY(-17px) translateX(10px) scale(0.75);
}

.input:not(:focus) ~ .iLabel {
  color: white;
}

.input:focus ~ .iLabel {
  color: $s-color;
}

.submit {
  background-color: #08d;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: #eee;
  cursor: pointer;
  font-size: 18px;
  height: 50px;
  margin-top: 38px;
  text-align: center;
  width: 100%;
}

.submit:active {
  background-color: #06b;
}